%h1 Listing books

%table
  %thead
    %tr
      %th Author
      %th Year
      %th Gender
      %th Body
      %th
      %th
      %th

  %tbody
    - @books.each do |book|
      %tr
        %td= book.author
        %td= book.year
        %td= book.gender
        %td= book.body
        %td= link_to 'Show', book
        %td= link_to 'Edit', edit_book_path(book)
        %td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Book', new_book_path
