%p#notice= notice

%p
  %b Author:
  = @book.author
%p
  %b Year:
  = @book.year
%p
  %b Gender:
  = @book.gender
%p
  %b Body:
  = @book.body

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
